@media only screen and (max-width: 768px){
    *{
        flex-wrap: wrap;
    }

    .main{
        flex-wrap: wrap;

    }

    .text-main{
        margin-bottom: 50px;
        width: 100%;
    }
}

@media only screen and (max-width: 424px){
    .main5-nav{
        display: flex;
        flex-direction: column;       width: 70%;

    }
    .main5-nav > a{
    }

    .main5-pic1 img {
        width: 100%;
    }

    .main5-pic2 img {
        width: 100%;
    }
}